.jumbotron {
    margin: 0;
    padding: 25px;
    background-image: linear-gradient(to right, rgb(15, 15, 156), rgb(228, 91, 209), rgb(170, 18, 18));
    color: white;
}

a {
    color: white;
}

.btn {
    color: white;
}

h1, h2, h3 {
    font-family: "Sriracha"
}

body {
    font-family: "Open Sans", "sans-serif";
    background: rgb(238, 209, 209);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    background: rgb(124, 12, 12);
    padding: 15px;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 25px;
    width: 25px;
    outline: black;
    background-color: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

footer {
    padding: 30px;
    background: linear-gradient(rgb(182, 45, 45), rgba(134, 80, 80, 0.575));
}

#products {
    margin: 50px;
}

.navbar-dark {
    background-color:rgb(104, 16, 16)
}

