.jumbotron {
    margin: 0;
    padding: 25px;
    background-image: linear-gradient(to right, rgb(15, 15, 156), rgb(228, 91, 209), rgb(170, 18, 18));
    color: white;
}

h1, h2 {
    font-family: "Sriracha"
}

body {
    font-family: "Open Sans", "sans-serif";
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}