body {
  font-family: "Open Sans", sans-serif;
  background: rgb(5, 23, 83)
}

.card-title {
  font: 500 3rem "Lato";
  background-color: rgb(5, 23, 83);
  padding: 15px;
  color: white;
}

.card-text {
  font: 500 1.5rem "Lato";
}

.card-body {
  background: rgb(231, 227, 227);
}

.card {
  border: 17px solid rgb(128, 125, 125);
  margin: 15px
}